/* -- CSS Reset --*/

*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

body{
    background-color: #f7f7f7;
    color: #333;
}

header, section, footer{
    max-width: 80%;
    width: 700px;
    margin: 0 auto;
    padding: 0 0 .4rem 0;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background: #112F38;
    padding: 2em 0;
    font-size: .75rem;
}

nav ul{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li{
    display: inline;
    margin: 0 20px;
}

nav ul li a{
    color: #f7f7f7;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

nav ul li a:hover{
    color: rgb(204, 85, 85);
    border: none;
}

h1, h2, h3, blockquote{
    color: #112F38;
}

p, blockquote{
    margin-bottom: 1.5rem;
    line-height: 1.5;
    font-family: 'Helvetica', sans-serif;
}

h1{
    font-size: 5.653rem;
    margin-top: 1em;
}

h2, h3{
    font-size: 1.999rem;
    margin: 3em 0 1em 0;
}

blockquote{
    font-size: 1.414em;
    font-style: italic;
    hanging-punctuation: first;
    text-indent: -0.6rem;
}

cite{
    font-size: 0.8rem;
    font-style: normal;
    color: #333;
}

header h2{
    font-size: 2.827rem;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 1.5em;
}

header p {
    font-size: 1.3rem;
}

.dark{
    background: #112F38;
    padding: .5rem 0 .5rem;
}

.dark h2{
    color: #fff;
}

.dark p{
    color: #fff;
}


footer{
    text-align: center;
    font-size: 0.75rem;
    margin: 1rem auto;
}

footer a{
    color: #fff;
    margin: 0 1rem;
    font-family: 'Helvetica', sans-serif;
    text-underline-offset: 2px;
}

.connections{
    position: relative;
    margin: 0 auto;
  }
  .connections ul{
    margin: 0;
    padding: 0;
  }
  .connections li{
    margin: 0 10px;
    padding: 0;
    list-style: none;
    display: inline-block;  
  }
  .connections a:link{
    border-bottom: none;
  }
  .connections img,
  .connections svg{
    border: none;
  }
  .connections a:hover img,
  .connections a:hover svg{
    border-bottom: none;}
  
  .connections svg {
        margin: 2em auto;}
  
  .connections a:hover svg path {
        fill: #FFBBFC;
        transition: all 0.2s ease-in-out;}
  
  footer .connections a:hover svg path {
          fill:  #FFBBFC;
          transition: all 0.2s ease-in-out;}
  

footer p{
    margin-top: 2rem;
}

img{
    margin-bottom: 2rem;
}

hr{
    background-color: #112f3844;
    height: 2px;
    border: none;
}
